
*{
	padding: 0px;
	margin: 0px;
 
}
body {
	/* background: url("../images/lightbackground.png");*/
background-color: #111 solid;
}

h1 {
	padding: 10px;
	width:60%;
	margin: auto;	
	font-size: 35px;
	font-family: 'Syncopate', sans-serif;
	text-align: center;

}*/

.clearfix:after{
	font-size: 0px;
	height: 0px;
	visibility: hidden;
	content: " ";
	display:block;
	clear: both;
}
.wrapper{
	position: relative;
	width: 1000px;
	height: 1000px;
	margin: -1px auto 0px;
	/*background-color: #FFFF00;*/
	border: 1px solid;
}



nav ul { 
	width: 639px;
	text-align: center;     
	margin: auto;
	list-style-type: none;
	padding:15px 0 25px 5px;
	font-size: 15px;
	/*border: 1.9px solid #111; */
	/*background-color: #E5EDFF;*/
	

}
li a{
	text-align: center;
	display: block;
/*	box-shadow: 10px 10px 5px #888888;*/
	color: #000;
	border-radius: 10px;
	text-decoration: none;
	margin-right: 50px;
	padding: 5px;
	font-weight: 660;
	font-family: 'Syncopate',serif;
}

li {
float: left;
}


li:nth-of-type(1) a{


}

li a:hover {
	background-color: #E2CFB6

}

li:last-child {
    border-bottom: none;

}
.right{
	position: center;

} 


main { 
	width: 60%;
	height: 50%;
	margin:auto;
	clear: both;
}

.arrowleft {
	width: 0px;
	height: 0px;
	border-top: 25px solid transparent;
	border-right: 50px solid #000;
	border-bottom: 25px solid transparent;
	position: absolute;
	top: 300px;
	left: 10%;

}

.arrowright {
	width: 0px;
	height: 0px;
	border-top: 25px solid transparent;
	border-left: 50px solid #000;
	border-bottom: 25px solid transparent;
	position: absolute;
	top: 300px;
	right: 10%;

}

h2 {
font-family: 'Syncopate',sans-serif;
	text-align: center;
	display: block;
	font-size: 20px;
	letter-spacing: 4px;
	margin-bottom: 25px;
	margin-top: 50px;
/*	border-bottom: 1px solid;*/

}
img {
	display:block;
	margin:auto;
	padding-top: 50px;
}

#stars{
	margin:auto;
	padding: 0;
	width: 35%;
}
main p {
	font-size: 20px;
	font-family: 'Sanchez', serif;
	line-height: 40px;
	margin: auto;
	min-width: 20em;
	max-width: 30em;
}

h3 {
	text-align: center;
	display: block;
	padding: 0px;
	margin: 10px;
	font-weight:none;
	font-family: 'Syncopate', cursive;
	letter-spacing: 3px;

}

main h3 {
	font-size: 15px;
	text-align: center;
	display: block;
	padding: 0px;
	margin-top: 25px;
	font-weight:none;
	font-family: 'Sanchez', serif;

}
.link{
	margin-bottom: 200px;

}
h3.info{
	margin-bottom: 20px;

}
footer h2 {
	font-size: 30px;
	text-align: center;
	margin: 0px;
	padding:0px;
	margin-top: 60px;
	margin-bottom: 20px;
	font-family: 'Syncopate';
	font-weight:900;
}
footer p {
	font-size: 20px;
	text-align: center;
	padding-left: 0px;
	font-family: 'Sanchez', serif;
	margin-left: 360px;
	min-width: 20em;
	max-width: 24em;
	line-height: 40px;
	text-align: center;
}

footer ul {

	font-size: 18px;
	text-align: center;
}





